page-login {

  .login-box {
  //padding: 20px 20px 0px 20px;
  margin-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  //width: 400px;
  border:1px solid white;
}

::-webkit-input-placeholder {
   text-align: center;
}


}

.menubutton {
  width: 160px;
  height: 50px;
  font-size: 16px;
}
