page-login {

  $colors: (
    default: #9aff28,
    secondary: #9aff28,
    mainOrange: #ff7b00
  );

  .login-box {
  //padding: 20px 20px 0px 20px;
  margin-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  //width: 400px;
  border:1px solid #494949;
}

::-webkit-input-placeholder {
   text-align: center;
}


}

.menubutton {
  //width: 160px;
  //height: 50px;
  //font-size: 16px;
  background-color: #f2a643;
}

.toolbar-background {
  background-color: #ccea38;
}
